<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>ControladorLogueo</servlet-name>
  	<display-name>ControladorLogueo</display-name>
  	<description></description>
  	<servlet-class>Controlador.ControladorLogueo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ControladorProducto</servlet-name>
  	<display-name>ControladorProducto</display-name>
  	<description></description>
  	<servlet-class>Controlador.ControladorProducto</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ControladorEmpleado</servlet-name>
  	<display-name>ControladorEmpleado</display-name>
  	<description></description>
  	<servlet-class>Controlador.ControladorEmpleado</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ControladorCliente</servlet-name>
  	<display-name>ControladorCliente</display-name>
  	<description></description>
  	<servlet-class>Controlador.ControladorCliente</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ControladorLogueo</servlet-name>
  	<url-pattern>/ControladorLogueo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ControladorProducto</servlet-name>
  	<url-pattern>/ControladorProducto</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ControladorEmpleado</servlet-name>
  	<url-pattern>/ControladorEmpleado</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ControladorCliente</servlet-name>
  	<url-pattern>/ControladorCliente</url-pattern>
  </servlet-mapping>
</web-app>
